$pro-blue: #0c5da4;
$pro-white: #fff;
$pro-body-background: #eef2f5;
$pro-gray: lightgray;
body {
    background: $pro-body-background;
}

body {
    nav {
        background-color: $pro-blue;
        height: 100%;
    }
}

nav {
    .main-nav {
        margin: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        border-bottom: 1px solid $pro-gray;
        padding: 10px 17px;
    }
}

ul {
    a {
        color: $pro-white;
        text-decoration: none;
    }
}


/* Public Profile Settings Form */

.form-container {
    background: $pro-white;
    flex-grow: .5;
}

.form-container {
    .form-header {
        background-color: $pro-gray;
        margin: 0 0 20px 0;
        padding: 10px;
    }
    ul {
        list-style: none;
    }
}

.form-inputs li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.container {
    display: flex;
    justify-content: center;
}