* {
    box-sizing:border-box;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.class1 {
    margin: 0 auto;
    width: 960px;
}

/* add white space around top header image */
.header1 img {
    display: block;
    margin: 10px;
}

.header1 {
    margin: 10px auto;
}

a {
    color: #a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header nav {
    background: #a00;
    border-radius: 25px;
    text-align: center;
}

header nav a {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 5px 15px;
}

section {
    clear: both;
    margin: 10px auto;
}

.top-gallery .left-image {
    float: left;
    padding: 10px;
    width: 66.666666%;
}

.top-gallery .right-images {
    float: right;
    padding: 10px;
    width: 33.333333%;
}

.section-header {
    color: #a00;
    border: 1px solid #a00;
    border-left: none;
    border-right: none;
    text-align: center;
}

.current-events ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.current-events li {
    float: left;
    text-align: center;
    width: 20%;
}

.recent-articles {
    border-right: 1px solid #a00;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
    width: 66.666666%;
}

.recent-articles article {
    border-bottom: 1px solid #a00;
    overflow: hidden;
}

.recent-articles img {
    float: left;
    max-width: 50%;
    padding: 10px;
}

section aside {
    text-align: center;
    width: 33.33333%;
    float: right;
}

.sponsor-ads img {
    float: left;
    padding: 10px;
    width: 50%;
}

footer {
    clear: both;
    padding: 20px 0;
    overflow: hidden;
}

footer h3 {
    float: left;
    margin: 0;
}

footer nav {
    float: right;
}

footer nav a {
    padding: 0 10px;
}