.main {
    width: 700px;
    margin: 0 auto;
}

.travels-main {
    width: 960px;
    margin: 0 auto;
}

body {
    font-family: Helvetica, Arial;
    background: #B4B4B4;
    padding: 135px 0;
}

.center-box {
    border: 5px solid #000;
    background: #fff;
}

nav {
    margin-top: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

a {
    color: #000;
}

.bio {
    float: left;
    padding-left: 18px;
    width: 54%;
}

.bio p {
    color: #888;
}

.my-pic {
    float: right;
}

.my-pic img {
    width: 290px;
    height: 200px;
}

.gallery {
    text-align: center;
}

.gallery-image {
    text-align: center;
    width: 220px;
    margin: 0 15px;
}

.gallery img {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 2px solid #B4B4B4;
}

.gallery li {
    display: inline-block;
    list-style: none;
}

.gallery h6 {
    margin-top: 5px;
}

.destination-name {
    cursor: pointer;
}

.arrow-side, .arrow-down {
    display: inline-block;
}

.option-content {
    margin-bottom: 10px;
}

header {
    border-top: 2px solid #B4B4B4;
    color: #000
}

footer {
    clear: both;
}